{% assign seo_description = page.description | default: page.excerpt | default: site.description %}
<title>{{ site.title }}</title>
<meta name="description" content="{{ seo_description | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ seo_description | markdownify | strip_html | strip_newlines | escape_once }}">
<meta property="og:type" content="website">
